{
	admin off
	auto_https off
}

:80 {
	handle /caddy-health {
		respond "ok" 200
	}

	import /etc/caddy/media.caddy

	handle /api/* {
		reverse_proxy api:8000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
